<p><strong>Dear <%= data.user.name %></strong>,</p>

<p>Your account has been created, Here are Login credentials below</p>
<p><strong>Email:</strong> <%= data.user.email %></p>
<p><strong>Password:</strong> <%= data.user.password %></p>

<p>Please note that it's recommended to change your password after the first login.</p>

<p>Best regards,<br>FYP Management System</p>