<p><strong>Dear <%= data.user %></strong>,</p>

<p>Your OTP code. Keep it confidential and do not share with anyone.</p>
<p><%= data.otp %></p>
<p>Please enter this OTP to proceed <%= data.subject ?? 'verification' %></p>

<p>Best regards,<br>FYP Management System</p>